import nwoki.qml.SpriteMovementSettings 0.1;

Settings {
    // must be <= than the maps  width/height
    viewWidth: 480
    viewHeight: 480

    player:
        PlayerSettings {
            name: "GreenMan";
            height: 18;
            width: 16;
            sprite: "16x18_green-man-sprite.png";
            frameCount: 3;
        }

    startMap: "greenmap";

    maps: [
        Map {
            name: "greenmap";
        }
    ]
}
